body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJkVkvTQR9MC2i8SwM90yOaSSl-WnmngUi-Q&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #000000;
  font-family: "Alumni Sans Collegiate One", sans-serif;
  font-style: italic;
  font-size: 65px;
}

h6 {
  color: #2c2c2c;
  font-family: "Alumni Sans Collegiate One", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
}

h7 {
  color: #2c2c2c;
  font-family: "Alumni Sans Collegiate One", sans-serif;
  font-style: normal;
  font-size: 35px;
  line-height: 30px;
}

.card-icon {
  font-size: 30px;
}

.card-body {
  text-align: center;
  margin: 0 auto;
}

.card-text,
img {
  width: 60px;
  height: 60px;
}

.week-day-weather {
  text-align: center;
  display: block;
  border-radius: 20px;
  border: 2px solid #e7eaf6;
}

.week-day-weather img {
  width: 60px;
  height: 60px;
  margin: 0;
}

.current-weather {
  border: 5px solid #ffffff;
  border-radius: 125px;
  background-color: #c0c0c0;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  padding: 40px 0;
  text-align: center;
  display: block;
}

.city {
  font-style: italic;
}

.search {
  color: #ffffff;
}
.location {
  color: #ffffff;
}

.temperature {
  color: #353535;
  font-family: "Alumni Sans Collegiate One", sans-serif;
  font-size: 65px;
  position: relative;
  margin: 0px auto;
  text-align: center;
  right: 20px;
  top: 5px;
}

.col-2 {
  color: #2b2b2b;
  display: block;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin: 0;
  padding: 10px;
  position: relative;
}

.highest-temp {
  font-weight: 500;
}

.highest-temp,
.lowest-temp {
  font-size: 12px;
  color: #dfdfdf;
}

.unit {
  color: #ffffff;
  position: relative;
  top: -70px;
  right: -85px;
  font-size: 14px;
}

.unit a {
  color: #a3054f;
  text-decoration: none;
}

.weather-icon {
  position: relative;
  left: -30px;
  top: -8px;
}

.weather-card-temp {
  font-size: 10px;
}

.weather-app-outline {
  border: 1px solid #fafafa;
  border-radius: 15px;
  margin: 15px auto;
  max-width: 600px;
  padding: 20px;
}

.weather-predictions p {
  font-size: 13px;
  margin: 0 auto;
  position: relative;
  top: -130px;
  right: -75%;
}

.weather-forecast-date {
  color: #dfdfdf;
  font-weight: 700;
}

.weather-forecast {
  margin: 0 auto;
}

.current-weather-description {
  color: #464646;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 20px;
  font-weight: 900;
  position: relative;
  top: -10px;
  right: 18px;
  text-align: center;
  text-transform: capitalize;
}

.sign-off {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}
.sign-off a {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}
